@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap"); /** fonts **/

:root {
  --font-base: "DM Sans", sans-serif;

  --primary-color: #edf2f8;
  --secondary-color: #313bac;
  --onhover-color: #c2d4ec;
  --black-color: #030303;
  --lightGray-color: #e4e4e4;                   /*? color setup */
  --gray-color: #6b7688;
  --brown-color: #46364a;
  --white-color: #ffffff;
  --dots-color: aliceblue;
}

:root.dark-mode {
  --primary-color: #2c3e50;
  --onhover-color: #34495e;
  --black-color: #ffffff; /* Adjust the text color for dark mode */
  --lightGray-color: #414a52;
  --gray-color: #a2a9b0;
  --brown-color: #867b91;
  --white-color: #030303; /* Adjust the text color for dark mode */
  --dots-color: none;
}


* {
  box-sizing: border-box;
  padding: 0;                       /**  ----------------     basic css     ------------------------- */
  margin: 0;
  scroll-behavior: smooth;
}